.nav-link{
    color:black;
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
}

nav{
    background: white;
    border-bottom: 3px solid black;
}

.navbar-light .navbar-nav .nav-link {
    color: black!important;
}
img{
    height: 69px;
    width: 142px;
}