<div class="container-fluid bg-light" style="padding: 15px;margin:5px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-5">
        <h3 class="text-center">Contact</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mt-5">
        <h5>STEMdroid Maker Space<br>
          63/6, CSM Complex, Vajarahalli 100 ft. Road,<br>
          Off. Kanakpura Road<br>
          Bangalore.
        </h5>
        <h6> <a [routerLink]="['/http://www.stemdroid.in/']">info@stemoidrd.in</a>
        
        </h6>
      </div>
<div class="col-sm-6 mt-4">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Parent Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Child Name</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Age</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Your Email</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mobile</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Message</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
   
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>

    </div>
  </div>
</div>




<!-- <form>
  <label for="" style="font-size: 20px;">Parent Name</label>
  <input type="text" style="margin-left: 28px;"><br>
  <label for="" style="font-size: 20px;">Child Name</label>
  <input type="text" style="margin-left: 40px;"><br>
  <label for=""style="font-size: 20px;">Age</label>
  <input type="text" style="margin-left: 108px;"><br>
  <label for=""style="font-size: 20px;">Your Email</label>
  <input type="text" style="margin-left: 49px;"><br>
  <label for=""style="font-size: 20px;">Mobile</label>
  <input type="text" style="margin-left: 81px;"><br>
  <label for=""style="font-size: 20px;">Message</label>
  <input type="text" style="margin-left: 65px;"><br>
  <button class="btn btn-dark mt-4 "
   style=" font-size: 18px;color: white;">SEND</button>
    </form> -->