.footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
   background: #d0c4c454;
    color: white;
    text-align: center;
    height:32em;
 }
span,p{
    color:black
}
h1{
    color:navy;
}

.form-control{
    width: 55%;
}
