<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="../../assets/Files/swiper.min.css">
   <script src="../../assets/Files/swiper.min.js"></script> -->
    <link rel="stylesheet" href="../../assets/files/swiper.min.css">


</head>

<!-- <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex" >
      <slide *ngFor="let slide of slides;">
        <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
     
        <div class="carousel-caption">
         
       
        </div>
      </slide>
    </carousel>  -->
<!-- 
<div class="container-fluid">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../assets/images/slide1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../assets/images/slide2.jpg" alt=""> </div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
        </div>
        
        <div class="swiper-pagination"></div>
    </div>

    
    <script src="../../assets/files/swiper.min.js"></script>


</div> -->
<section>
    <carousel>
        <slide>
            <img src="../../assets/images/slide1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../assets/images/slide2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../assets/images/slide3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../assets/images/slide4.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../assets/images/slide5.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
    </carousel>
</section>



<section>
    <div class="container-fluid" style="padding:18px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 style="font-size: 34px; font-weight: bold;color: black; font-family: Arial;" class="mt-5">
                        Welcome to STEMdroid</h3>

                   
                    <div class="col-sm-12" style="padding:0px;">
                        <hr style="border: 1px solid #009871;width: 31%;
                        margin-left: initial;" class="mt-3"><br>
                    </div>
                    <p style="text-align: justify;font-family: Arial;font-size: 15px;" class="mt-2  ">
                        We are a team of enthusiasts working towards providing our students
                        a more holistic approach
                        towards learning using STEM (Science Technology Engineering & Mathematics). wherein we offer
                        workspace and classes in a blended learning environment to show students how scientific
                        methodologies can be applied to everyday life. It teaches students computational thinking and
                        focuses on the real world applications of problem solving using STEM methodologies .</p>

                </div>
                <div class="col-sm-6 mt-5 pl-5">

                    <div class=" d-flex flex-column justify-content-center">
                        <img class="welcome" src="../../assets/images/school-children-png-28324 (1).jpg" alt=""
                            style="border-radius: 55px;width: 100%;">
                    </div>



                </div>
            </div>
        </div>

    </div>
</section>



<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 style="font-family: Arial;font-weight: bold;font-size: 32px;">Our Mission</h2>
                <hr style="border: 1px solid #009871;width: 10%;
                ">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align: center;font-family: Arial; font-size: 15px;" class=" ">At STEMDROID, we thrive
                    towards
                    transforming the way learning takes
                    <br> in the class by providing the best digital and physical resources
                    for hands <br> -on, creative and inquiry-based learning experiences which
                    would inspire <br> and develop the “Builders of Tomorrow”.</p>
            </div>
        </div>

    </div>

</section>

<section>
    <div class="container-fluid text-center mt-5">
        <div class="row">
            <div class="col-sm-12">
                <img src="../../assets/images/mission.jpg" alt="" class="paint" width="60%" height="70%">

            </div>
        </div>
    </div>
</section>



<section>
    <div class="container mt-4">


        <div class="row mt-4">
            <div class="col-sm-12 text-center">
                <h5 style="font-size: 34px; font-weight: bold;color: black; font-family: Arial;">What Is Stem</h5>
                <hr style="border: 1px solid #009871;width: 15%;
                "><br>
                <p style="text-align:center;color: black; font-family: Arial;">
                    STEM is a curriculum based on the idea of educating students
                    in four specific disciplines science, technology, engineering <br>
                    and mathematics in an interdisciplinary and applied approach.
                    Rather than teach the four disciplines as separate and discrete <br> subjects,
                    STEM integrates them into a cohesive learning paradigm based on real-world applications.</p>
                <br>
                <h5 style="font-size: 34px; font-weight: bold;color: black; font-family: Arial;">Why Stem</h5>
                <hr style="border: 1px solid #009871;width: 15%;
                ">
                <br>

                <p style="text-align: center;color: black; font-family: Arial;" >STEM thought at an
                    early age, can instill in kids a healthy
                    interest in not just gathering knowledge about predefined subjects, but even in
                    exploring, <br> questioning, and discovering everything they cannot understand. As a result,
                    it has found application in a wide variety of industries and job roles <br> including aerospace
                    engineering, astrophysics, biochemistry, chemical and civil engineering, <br> computer science,
                    nanotechnology, robotics.
                </p>


            </div>
            <div class="container mt-3">
            <div class="row">
            <div class="col-sm-12 text-center">

                <div>
                    <img src="../../assets/images/small.gif" alt="" width="40%" height="10%">
                </div>

            </div>
            </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container-fluid text-center mt-5 mb-2">
        <div class="row mt-5">
            <div class="col-sm-6 mt-5">
                <h3 style=" font-weight: bold;color: black; font-family: Arial;">Engineering</h3>
                <hr style="border: 1px solid #009871;width: 15%;
                ">
                <br>
                <p style="text-align: justify;font-size: 15px;" class=" ">Kids learn about real-world engineering
                    with hands-on
                    tinkering
                    that will challenge them to use their intelligence and creativity
                    to apply the concepts being discussed.  Problem-solving, innovation
                    and experimentation take center stage as students take an authentic turn
                    as young engineers themselves. Kids design and build their own switchboards,
                    electric cars, towers and bridges, rockets, windmills, dynamos, and much, much more.
                      For all of these projects, our students will use everyday objects to create feats of
                    engineering mastery that they can take home and explain!..</p>
            </div>
            <div class="col-sm-6 mt-5">
                <img src="../../assets/images/motor (2).jpg" alt="" class="mt-3 eng"
                    style="box-shadow: 1px 1px 6px 1px black; ">

            </div>
        </div>

    </div>
</section>



<!-- science -->

<section>
    <div class="container-fluid text-center mt-5 mb-2">
        <div class="row mt-5">
            <div class="col-sm-6 mt-5">
                <h3 style=" font-weight: bold;color: black; font-family: Arial;">Science</h3>
                <hr style="border: 1px solid #009871;width: 15%;
                ">
                <br>
                <p style="text-align: justify;font-size: 15px;" class=" ">Students will explore the physical world
                    through inquiry and experimental
                    design with these science-forward courses. Science isn’t inaccessible or
                    irrelevant to kids’ lives – instead, we teach science as a way of thinking
                    and uncovering new discoveries. By teaching the nature of science, we prepare
                    kids for further explorations in biology, physics, chemistry and beyond.</p>
            </div>
            <div class="col-sm-6 mt-4">
                <img src="../../assets/images/scope.jpg" alt="" class=" scope"
                   >

            </div>
        </div>

    </div>
</section>
<!-- science ends -->


<!-- robotics -->
<section>
    <div class="container-fluid text-center mt-5 mb-2">
        <div class="row mt-5">
            <div class="col-sm-6 mt-5">
                <h3 style=" font-weight: bold;color: black; font-family: Arial;">Robotics</h3>
                <hr style="border: 1px solid #009871;width: 15%;
                ">
                <br>
                <p style="text-align: justify;font-size: 15px;" class=" ">Kids will dive into the exciting world of
                    robotics with hands-on
                    programming, building, troubleshooting and operating activities. Classes utilize
                    LEGO® Mindstorms and WeDo programs as well as traditional building techniques all
                    while growing students’ skills in design, problem-solving and critical thinking.
                    Students will gain confidence and a one-of-a-kind learning experience as they watch
                    their creations take shape, from a simple idea to a working robot with motors and sensors..</p>
            </div>
            <div class="col-sm-6 mt-4">
                <img src="../../assets/images/robot.jpg" alt=""  class="mt-3 robot" style="height: 90%; width: 66%;  box-shadow: 1px 1px 10px 1px black;
                ">

            </div>
        </div>

    </div>
</section>
<!-- robotics  ends-->










<!-- enrichment -->
<div class="container-fluid mt-5">
    <div class="row mt-7">
        <div class="col-sm-7  mt-5">
            <h3 style="color: black; font-weight:bold;text-align: center;" class="mt-2 pr-5">WE
                offer the most fun and engaging<br>enrichment programs</h3>
            <hr style="border: 1px solid #009871;
              margin-left: 37%;  width: 20%;">
            <p style="text-align: justify;" class=" mt-4">The Maker shed provides you the right environment and gear
                to
                realize your ideas. The staff provides guidance in using the gear
                as needed. The Maker shed also organizes STEM and Robotics courses and workshops. A free moment
                between business meetings and nowhere to put down the laptop?
                The maker shed is a peaceful area for working alone or in group. A competition coming up and need a
                place to prep in peace?
                At STEMdroid, there is study and work space for various competitions. Our training rooms are
                equipped with all the aids you would
                need for your training. The perfect ambience of our spaces
                enhance the training experience </p>
        </div>
        <div class="col-sm-4  mt-5">
            <img src="../../assets/images/fun.jpg" alt="" 
              class="enrich">
        </div>
    </div>
</div>
<!-- enrichment -->


<section>
    <div class="container-fluid text-center mt-5">
        <div class="row mt-5">
            <div class="col-sm-7  mt-5">
                <h3 style="color: black;font-size: 28px; font-weight:bold">Coding And Electronics</h3>
                <hr style="border: 1px solid #009871;width: 20%;
                ">
                <br>

                <p style="text-align: justify;" class=" ">Computer literacy has become a vital part of the modern
                    world. Our kids
                    will begin to learn web
                    design <br> and programming concepts to create animated stories and computer games. Each of these
                    will
                    allows <br> students to exercise problem-solving skills, while also transforming them from a
                    consumer of
                    technology <br> to a creator of technology!
                </p>
            </div>
            <div class="col-sm-4  mt-5">
                <img src="../../assets/images/photo-1515879218367-8466d910aaa4.jpg" alt=""
                     class="mt-1 cod">
            </div>
        </div>

    </div>
</section>


<!-- robotics -->

<!-- robotics ends -->



<section>
    <div class="container-fluid text-center mt-5">
        <div class="row mt-5">
            <div class="col-sm-12 mt-5">
                <h3 style="color: black;font-size: 28px; font-weight:bold">STEM STUDIO CAMPS
                </h3>
                <hr style="border: 1px solid #009871;width: 15%;
                ">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6 ">
                <h6 style="text-align: justify;" class=" ">Camps</h6><br>
                <p style="text-align: justify;" class=" ">What did you do on your vacation? When asked so, your
                    answer in the next
                    season could be: "I worked
                    on a new technology!" or, "I designed my own superhero power!" or even, "I made a racing car!" STEM
                    Champ's camp is for girls and boys who love Science, Technology, Engineering and Math who want to
                    explore. Whether you want to spend one week or all four weeks at camp, you'll get chances to work
                    with STEM experts in a challenging and fun environment.
                </p>
            </div>
            <div class="col-sm-6 mt-2 mt-5">
                <img src="../../assets/images/science.jpg" alt=""
                    class="img-responsive camps">
            </div>
        </div>
    </div>

</section>

<section class="mt-5">
    <carousel style="padding: 14px;">
        <slide style="background-color: black;">
            <h2 style="color: white;text-align: center;" class="mt-3">Reviews</h2>

            <p style="color: white;text-align: center;">“Wow! My 10 year old hasn’t stopped talking about STEM Programs.
                He can’t wait for tomorrow’s after school session. Great to see him so excited about learning.”
            </p>
            <h6 style="color: white;text-align: center;" class="mb-5">XXX, Parent, Bangalore
            </h6>
        </slide>
        <slide style="background-color: black;">
            <h2 style="color: white;text-align: center;" class="mt-3">Reviews</h2>
            <p style="color: white;text-align: center;">“My 6 year old kid has grown very fast in terms of his activity
                cultivated at STEMd studio”
            </p>
            <h6 style="color: white;text-align: center;" class="mb-5">XXX, Parent, Banglore
            </h6>
        </slide>
        <slide style="background-color: black;">
            <h2 style="color: white;text-align: center;" class="mt-3">Reviews</h2>
            <p style="color: white;text-align: center;">"My 10 year old daughter been so excited for STEAM studio."
            </p>
            <h6 style="color: white;text-align: center;" class="mb-5">XXX, Parent, Bangalore
            </h6>
        </slide>
        <slide style="background-color: black;">
            <h2 style="color: white;text-align: center;" class="mt-3">Reviews</h2>
            <p style="color: white;text-align: center;">“My 13 year old sister always talk's about STEM studio because
                she gained more knowledge of computer.”
            </p>
            <h6 style="color: white;text-align: center;" class="mb-5">XXX, Parent, Bangalore
            </h6>
        </slide>
        <slide style="background-color: black;">
            <h2 style="color: white;text-align: center;" class="mt-3">Reviews</h2>
            <p style="color: white;text-align: center;">“Wow! My 10 year old hasn’t stopped talking about STEM Programs.
                He can’t wait for tomorrow’s after school session. Great to see him so excited about learning.”
            </p>
            <h6 style="color: white;text-align: center;" class="mb-5">XXX, Parent, Bangalore
            </h6>
        </slide>
    </carousel>
</section>


<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align: center;font-size: 34px; font-weight:bold;color: black;" class="mt-3">Stem Classes
                </h3>
                <!-- <hr style="border: 1px solid #009871;width: 15%;
                "> -->
                <p style="text-align: justify;" class="mt-4">Our weekly classes for ages 4 to 16 offer a thoughtful
                    environment that
                    takes the current academics
                    of each individual to the next level. Our fast-paced, rigorous STEM classes and technical assistance
                    enable us to fast track the engineering and technology proficiency for kids, including igniting
                    their enthusiasm and creativity as well as high-order thinking skills. Our classes are customized to
                    meet kids’ curiosity in STEM, to encourage lifelong preparation and learning for the future.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <h4 style="color: black;">Program Details:
                </h4>

                <h6>Classes offered Monday ~ Friday from 5:00 pm to 7:00 pm, <br> Saturday and Sun 10:30 am to 12:30 pm,
                    2:00~5:00 pm
                    <br> Fun STEM activities including Coding and Robotics
                    <br> Low student teacher ratio for individualized adaptive <br> learning
                    OUR WEEKLY CLASSES<br>
                    Hands on Engineering<br>
                    Lego Robotics<br>
                    Coding and Game Design
                </h6>
                <a routerLink="[/http://www.stemdroid.in]">info@stemdroid.in</a>

            </div>
            <div class="col-sm-6 d-flex">
                <img src="../../assets/images/class.jpg" alt="" class="clas">
            </div>
        </div>
    </div>

</section>

<section class="mt-5">
    <div class="container">
        <div class="col-sm-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.50575790436!2d77.4855202155773!3d12.745633223242974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1577e33e4053%3A0xf6740652218cad5!2sKanakapura%20Rd%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1580216067187!5m2!1sen!2sin"
                width="1800" height="650" frameborder="0"
                style="border:0;box-shadow: 18px 12px 15px 10px rgba(0,0,0,0.3);" allowfullscreen=""></iframe>

        </div>
    </div>
</section>

<button id="topBtn" (click)="up()" ><i class="fas fa-arrow-up"></i></button>
<app-footer></app-footer>
