<p>backup works!</p>
<!-- <section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.50575790436!2d77.4855202155773!3d12.745633223242974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1577e33e4053%3A0xf6740652218cad5!2sKanakapura%20Rd%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1580216067187!5m2!1sen!2sin" width="1600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section> -->










<!-- 
<br>
<section class="feature">
    <div class="content-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-6">
                    <h2> Welcome to <br>kids STEM Studio </h2>
                    <p>We are a team of enthusiasts working towards providing our students a more holistic approach
                        towards learning using STEM ( Science Technology Engineering & Mathematics).
                        wherein we offer workspace and classes in a blended learning environment to show students
                        how scientific methodologies can be applied to everyday life. It teaches students computational
                        thinking and focuses on the real world applications of problem solving using STEM methodologies
                        .
                    </p>

                </div>

                <div class="col-md-6">
                    <img class="welcome" src="../../assets/images/welcome.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</section>

<!-- 
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
         <h1 class="text-center">Welcome To STEMdroid</h1>
         <p>We are a team of enthusiasts working towards providing our students a more holistic approach 
           towards learning using STEM ( Science Technology  Engineering & Mathematics).
            wherein we offer workspace and classes in a blended learning environment to show students 
            how scientific methodologies can be applied to everyday life. It teaches students computational
             thinking and focuses on the real world applications of problem solving using STEM methodologies .
        </p>
       </div>
     </div>
   </div> -->

<!-- <br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Our Mission</h3>
            <p class="ml-5 col-sm-10">At STEMDROID, we thrive towards transforming the way learning takes
                place in the class by providing the best digital and physical resources
                for hands-on, creative and inquiry-based learning experiences which
                would inspire and develop the “Builders of Tomorrow”.
            </p>

        </div>
        <div class="col-md-6">
            <img class="top1" src="../../assets/images/top1.jpg">
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">What is Stem ?</h3>
            <p class="ml-5">STEM is a curriculum based on the idea of educating students
                in four specific disciplines — science, technology, engineering
                and mathematics — in an interdisciplinary and applied approach.
                Rather than teach the four disciplines as separate and discrete subjects,
                STEM integrates them into a cohesive learning paradigm based on real-world applications.</p>
        </div>


        <div class="col-md-6">
            <h3 class="text-center">Why Stem ?</h3>
            <p class="ml-5">STEM thought at an early age, can instill in kids a healthy
                interest in not just gathering knowledge about predefined subjects, but even in
                exploring, questioning, and discovering everything they cannot understand. As a result,
                it has found application in a wide variety of industries and job roles including aerospace
                engineering, astrophysics, biochemistry, chemical and civil engineering, computer science,
                nanotechnology, robotics.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Robotics</h3>
            <p class="ml-5">Kids will dive into the exciting world of robotics with hands-on
                programming, building, troubleshooting and operating activities. Classes utilize
                LEGO® Mindstorms and WeDo programs as well as traditional building techniques all
                while growing students’ skills in design, problem-solving and critical thinking.
                Students will gain confidence and a one-of-a-kind learning experience as they watch
                their creations take shape, from a simple idea to a working robot with motors and sensors.
            </p>
        </div>

        <div class="col-md-6">
            <img class="top2" src="../../assets/images/top2.jpg">
        </div>


    </div>
</div>


<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="top3 ml-4" src="../../assets/images/top3.jpg">
        </div>

        <div class="col-md-6">

            <h3 class="text-center">Engineering</h3>
            <p>Kids learn about real-world engineering with hands-on tinkering
                that will challenge them to use their intelligence and creativity
                to apply the concepts being discussed.  Problem-solving, innovation
                and experimentation take center stage as students take an authentic turn
                as young engineers themselves. Kids design and build their own switchboards,
                electric cars, towers and bridges, rockets, windmills, dynamos, and much, much more.
                  For all of these projects, our students will use everyday objects to create feats of
                engineering mastery that they can take home and explain!
            </p>
        </div>
    </div>
</div> --> -->
<!-- 
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Coding And Electronics</h3>
            <p class="ml-5">Computer literacy has become a vital part of the modern world.
                Our kids will begin to learn web designing and programming concepts to create
                animated stories and computer games. Each of these will allow students to exercise
                problem-solving skills, while also transforming them from a consumer of technology
                to a creator of technology!

            </p>
        </div>

        <div class="col-md-6">
            <img class="top4" src="../../assets/images/top4.jpg">
        </div>


    </div>
</div>


<br>
<br>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="top5 ml-5" src="../../assets/images/top5.jpg">
        </div>

        <div class="col-md-6">

            <h3 class="text-center">Science</h3>
            <p class="ml-5">Students will explore the physical world through inquiry and experimental
                design with these science-forward courses. Science isn’t inaccessible or
                irrelevant to kids’ lives – instead, we teach science as a way of thinking
                and uncovering new discoveries. By teaching the nature of science, we prepare
                kids for further explorations in biology, physics, chemistry and beyond.

            </p>
        </div>
    </div>
</div>

<br>
<br>
<div class="container">
    <div class="row">
        <h3 class="text-center">WE OFFER SPACE, EQUIPMENT AND CONSULTATION TO REALIZE YOUR IDEAS. </h3>
    </div>
</div>
<br> <br>
<div class="container-fluid">
    <div class="row" style="justify-content: center;">
        <br>
        <div class="card ml-5" style="width:13em;">
            <div class="card-body">
                The Maker shed provides you the right environment and gear to
                realize your ideas. The staff provides guidance in using the gear
                as needed. The Maker shed also organizes STEM and Robotics courses and workshops.


            </div>
        </div>

        <div class="card ml-5" style="width:13em;">
            <div class="card-body">
                <h5 class="card-title">Space for Work</h5>
                A free moment between business meetings and nowhere to put down the laptop?
                The maker shed is a peaceful area for working alone or in group
            </div>
        </div>


        <div class="card ml-5" style="width:13em;">
            <div class="card-body">
                <h5 class="card-title">Competition</h5>
                A competition coming up and need a place to prep in peace?
                At STEMdroid, there is study and work space for various competitions.


            </div>
        </div>


        <div class="card ml-5" style="width:13em;">
            <div class="card-body">
                <h5 class="card-title">Workshops</h5>
                Our training rooms are equipped with all the aids you would
                need for your training. The perfect ambience of our spaces
                enhance the training experience .


            </div>
        </div>





    </div>
</div> -->

<!-- <br><br>
<div class="container">
    <h3 class="text-center">AFTERSCHOOL ENRICHMENT PROGRAM
    </h3>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="top6 ml-5" src="../../assets/images/top6.jpg">
        </div>

        <div class="col-md-6">

            <h4 class="text-center">ENRICHMENT AT OUR PARTNERED SCHOOLS</h4>
            <p style="text-align: start;">Our custom curriculum develops technical skills in STEM alongside other skills
                students need to succeed such as independence, collaboration, questioning, problem
                solving, and critical thinking.If your school is interested in hosting one of our
                STEM enrichment classes, ask them to contact us info@stemdroid.com

            </p>
        </div>
    </div>
</div>


<br><br>
<div class="container">
    <h3 class="text-center">STEM STUDIO CAMPS</h3>
</div>
<br><br> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="top5 ml-5" src="../../assets/images/top5.jpg">
        </div>

        <div class="col-md-6">

            <h4 class="text-center">CAMPS</h4>
            <p style="text-align: start;">What did you do on your vacation? When asked so,
                your answer in the next season could be: "I worked on a new technology!" or,
                "I designed my own superhero power!" or even, "I made a racing car!" STEM Champ's camp is
                for girls and boys who love Science, Technology, Engineering and Math who want to explore.
                Whether you want to spend one week or all four weeks at camp, you'll get chances to
                work with STEM experts in a challenging and fun environment.

            </p>
        </div>
    </div>
</div>



<br><br>
<div class="container">
    <h3 class="text-center">Competitions</h3>
</div>
<br><br> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="top5 ml-5" src="../../assets/images/top7.jpg">
        </div>

        <div class="col-md-6">

            <h4 class="text-center">CAMPS</h4>
            <p style="text-align: start;">Students get access to participate in national / international '
                ' competitions. Students in middle and high school are invited to manage their own team and
                competes in one or all of the challenges. Each challenge provides curriculum aligned to the
                common core and crosscutting concepts of the next generation science STEM standards.
                The curriculum can be implemented in Math, Science, STEM courses.


            </p>
        </div>
    </div>
</div>

<br><br> -->


<!-- 
<br><br>
<div class="container">
    <h3 class="text-center">STEM Classes</h3>
    <p style="text-align: start;">Our weekly classes for ages 4 to 16 offer a thoughtful environment that takes
        the current academics of each individual to the next level. Our fast-paced, rigorous STEM classes and technical
        assistance enable us to fast track the engineering and technology proficiency for kids, including igniting their
        enthusiasm and creativity as well as high-order thinking skills. Our classes are customized to meet kids’
        curiosity
        in STEM, to encourage lifelong preparation and learning for the future.
    </p>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 style="color:navy">Program Details:</h5>
            <p>Classes offered Monday ~ Friday from 5:00 pm to 7:00 pm, Saturday and Sun 10:30 am to 12:30 pm, 2:00~5:00
                pm
                Fun STEM activities including Coding and Robotics
                Low student teacher ratio for individualized adaptive learning
                OUR WEEKLY CLASSES
                Hands on Engineering
                Lego Robotics
                Coding and Game Design
            </p>
        </div>
        <div class="col-md-6">
            <img class="top6" src="../../assets/images/top8.jpg">
        </div>
    </div>
</div>

<br><br> -->


<!-- <div class="container-fluid">
    <h3 class="mt-5 text-center">Connect With Us</h3>
    <div class="map-responsive">
        <iframe
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div> -->







<!-- <section>
    <div class="container-fluid text-center  mt-5">
        <div class="row mt-5">
            <div class="col-sm-6">
                <h6 style="text-align: justify;font-size: 28px; font-weight: bold;color: black; font-family: Arial;">WE
                    offer the most fun and engaging<br>enrichment programs</h6><br>
                <p style="text-align: justify;"class="pr-5">The Maker shed provides you the right environment and gear to
                    realize your ideas. The staff provides guidance in using the gear
                    as needed. The Maker shed also organizes STEM and Robotics courses and workshops. A free moment
                    between business meetings and nowhere to put down the laptop?
                    The maker shed is a peaceful area for working alone or in group. A competition coming up and need a
                    place to prep in peace?
                    At STEMdroid, there is study and work space for various competitions. Our training rooms are
                    equipped with all the aids you would
                    need for your training. The perfect ambience of our spaces
                    enhance the training experience .</p>
            </div>
            <div class="col-sm-6 ">
                <img src="../../assets/images/robotics.jpg" alt=""
                    style="border-radius: 30px;box-shadow: 4px 4px 6px 8px rgba(0,0,0,0.3);">
            </div>
        </div>
    </div>

</section> -->